<h1>User List</h1>

<ul>
<% @users.each do |user| %>
<br />
  <li><%= user.name %>&nbsp;

<div class="btn-group btn-group-xs">
<%= link_to "Delete User", user_path(user),
                                            :confirm => "You Sure?",
                                            :method => "delete",
                                            :class => "btn btn-danger" %>

</div>
</li>



  <% end %>
</ul>

<br />


